<main>
    <p id="notice"></p>
    <div class="container">
        <div class="row">
        <div class="mx-auto col-sm-12 col-lg-8 px-5 px-sm-0">
            
            <h2 class="text-center">ご覧いただきありがとうございます<i class="far fa-hand-paper"></i></h2></br>
            <h2 class="text-center">皆さんは、こんなこと感じたことはありませんか？</h2>
            <p class=>・「今日の晩御飯は何にしよう？」</p>
            <p class=>・「作りたいものは決まっているけど、レシピがわからない」</p>
            <p class=>・「あと、一品欲しいなぁ」</p></br>
            <p class="text-center">これらの悩みを解決するお手伝いができます<i class="far fa-hand-peace"></i></p>
            
        </div>    
        </div>
    </div>
  </main>